.e60_25 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:640px;
	position:absolute;
}
.e448_980 { 
	width:360px;
	height:640px;
	position:absolute;
	left:0px;
	top:0px;
}
.e448_981 { 
	width:360px;
	height:40px;
	position:absolute;
	left:0px;
	top:600px;
}
.e448_982 { 
	background-image:linear-gradient(0deg, rgba(255, 0, 168.30000668764114, 1) 0%,rgba(142.80000060796738, 0, 255, 1) 25.52083432674408%,rgba(0, 132.599995136261, 255, 1) 59.89583134651184%,rgba(0, 224.39999878406525, 255, 1) 88.54166865348816%,rgba(0, 255, 239.69999939203262, 1) 100%) ;
	width:360px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.e448_983 { 
	width:360px;
	height:77.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e448_984 { 
	width:360px;
	height:77.5px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_130.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_985 { 
	width:25px;
	height:25px;
	position:absolute;
	left:20px;
	top:15px;
	background-image:url(images/image_68.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_986 { 
	width:25px;
	height:25px;
	position:absolute;
	left:315px;
	top:15px;
	background-image:url(images/image_131.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_1170 { 
	width:200px;
	height:40px;
	position:absolute;
	left:80px;
	top:519px;
	background-image:url(images/image_187.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_1168 { 
	width:20.5px;
	height:20.5px;
	position:absolute;
	left:249px;
	top:528px;
	background-image:url(images/image_186.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_1160 { 
	width:300px;
	height:424px;
	position:absolute;
	left:30px;
	top:80px;
	background-image:url(images/image_183.png);
	background-repeat:no-repeat;
	background-size:cover;
}
a {
	display: block;
	width: 100%;
	height: 100%;
}