.e47_2595 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:640px;
	position:absolute;
}
.e60_11 { 
	width:300px;
	height:400px;
	position:absolute;
	left:30px;
	top:85px;
}
.e450_1238 { 
	width:300px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_216.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_1108 { 
	width:15px;
	height:15px;
	position:absolute;
	left:260px;
	top:77px;
	background-image:url(images/image_161.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_1110 { 
	width:15px;
	height:15px;
	position:absolute;
	left:260px;
	top:127px;
	background-image:url(images/image_162.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_1112 { 
	width:15px;
	height:15px;
	position:absolute;
	left:260px;
	top:177px;
	background-image:url(images/image_163.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_1114 { 
	width:15px;
	height:15px;
	position:absolute;
	left:260px;
	top:227px;
	background-image:url(images/image_164.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_917 { 
	width:360px;
	height:640px;
	position:absolute;
	left:0px;
	top:0px;
}
.e448_923 { 
	width:360px;
	height:40px;
	position:absolute;
	left:0px;
	top:600px;
}
.e448_922 { 
	background-image:linear-gradient(0deg, rgba(255, 0, 168.30000668764114, 1) 0%,rgba(142.80000060796738, 0, 255, 1) 25.52083432674408%,rgba(0, 132.599995136261, 255, 1) 59.89583134651184%,rgba(0, 224.39999878406525, 255, 1) 88.54166865348816%,rgba(0, 255, 239.69999939203262, 1) 100%) ;
	width:360px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.e448_918 { 
	width:360px;
	height:77.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e448_919 { 
	width:360px;
	height:77.5px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_130.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_920 { 
	width:25px;
	height:25px;
	position:absolute;
	left:20px;
	top:15px;
	background-image:url(images/image_68.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_921 { 
	width:25px;
	height:25px;
	position:absolute;
	left:315px;
	top:15px;
	background-image:url(images/image_131.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.link-div a {
	display: block;
	width: 100%;
	height: 100%;
}