.e46_1240 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:1078px;
	position:absolute;
}
.e46_1391 { 
	width:200px;
	height:40px;
	position:absolute;
	left:80px;
	top:790px;
}
.e450_1216 { 
	width:200px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_209.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e450_1214 { 
	width:20.5px;
	height:20.5px;
	position:absolute;
	left:9px;
	top:9px;
	background-image:url(images/image_208.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e46_1398 { 
	width:310px;
	height:180px;
	position:absolute;
	left:25px;
	top:75px;
}
.e446_460 { 
	width:310px;
	height:180px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_120.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_462 { 
	width:30px;
	height:30px;
	position:absolute;
	left:280px;
	top:0px;
	background-image:url(images/image_121.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_535 { 
	width:310px;
	height:490px;
	position:absolute;
	left:25px;
	top:270px;
}
.e446_534 { 
	width:150px;
	height:230px;
	position:absolute;
	left:160px;
	top:260px;
	background-image:url(images/image_143.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_532 { 
	width:150px;
	height:230px;
	position:absolute;
	left:0px;
	top:260px;
	background-image:url(images/image_142.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_530 { 
	width:150px;
	height:230px;
	position:absolute;
	left:160px;
	top:0px;
	background-image:url(images/image_141.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_528 { 
	width:150px;
	height:230px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_140.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_439 { 
	width:360px;
	height:198px;
	position:absolute;
	left:0px;
	top:880px;
}
.e446_440 { 
	width:360px;
	height:198px;
	position:absolute;
	left:0px;
	top:0px;
}
.e446_441 { 
	width:360px;
	height:198px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_110.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_442 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:20px;
	position:absolute;
	left:37px;
	top:16px;
	font-family:Inter;
	text-align:right;
	font-size:7px;
	letter-spacing:0;
}
.e446_443 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:20px;
	position:absolute;
	left:37px;
	top:36px;
	font-family:Inter;
	text-align:right;
	font-size:7px;
	letter-spacing:0;
}
.e446_444 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:20px;
	position:absolute;
	left:37px;
	top:56px;
	font-family:Inter;
	text-align:right;
	font-size:7px;
	letter-spacing:0;
}
.e446_445 { 
	color:rgba(0, 0, 0, 1);
	width:109px;
	height:15px;
	position:absolute;
	left:168px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:7px;
	letter-spacing:0;
}
.e446_446 { 
	color:rgba(0, 0, 0, 1);
	width:109px;
	height:15px;
	position:absolute;
	left:168px;
	top:31px;
	font-family:Inter;
	text-align:left;
	font-size:7px;
	letter-spacing:0;
}
.e446_447 { 
	color:rgba(0, 0, 0, 1);
	width:109px;
	height:15px;
	position:absolute;
	left:168px;
	top:46px;
	font-family:Inter;
	text-align:left;
	font-size:7px;
	letter-spacing:0;
}
.e446_448 { 
	color:rgba(0, 0, 0, 1);
	width:109px;
	height:15px;
	position:absolute;
	left:168px;
	top:61px;
	font-family:Inter;
	text-align:left;
	font-size:7px;
	letter-spacing:0;
}
.e446_504 { 
	width:360px;
	height:77.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e446_505 { 
	width:360px;
	height:77.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e446_506 { 
	width:360px;
	height:77.5px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_130.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_507 { 
	width:25px;
	height:25px;
	position:absolute;
	left:20px;
	top:15px;
	background-image:url(images/image_68.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_508 { 
	width:21.55172348022461px;
	height:25px;
	position:absolute;
	left:315px;
	top:15px;
	background-image:url(images/image_131.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.link-div a {
	display: block;
	width: 100%;
	height: 100%;
}