.e36_6404 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:640px;
	position:absolute;
}
.e60_19 { 
	width:300px;
	height:400px;
	position:absolute;
	left:30px;
	top:85px;
}
.e442_206 { 
	width:150px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_63.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e442_207 { 
	width:300px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/rectangle_58.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e442_208 { 
	width:150px;
	height:40px;
	position:absolute;
	left:150px;
	top:0px;
	background-image:url(images/image_62.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e442_209 { 
	width:100px;
	height:100px;
	position:absolute;
	left:100px;
	top:60px;
	background-image:url(images/image_61.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_6415 { 
	width:273px;
	height:113px;
	position:absolute;
	left:13px;
	top:230px;
}
.e443_341 { 
	width:273px;
	height:113px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_89.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e443_339 { 
	width:15px;
	height:15px;
	position:absolute;
	left:247px;
	top:7px;
	background-image:url(images/image_88.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e443_337 { 
	width:86px;
	height:20px;
	position:absolute;
	left:92px;
	top:83px;
	background-image:url(images/image_87.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e36_6420 { 
	width:273px;
	height:30px;
	position:absolute;
	left:13px;
	top:180px;
}
.e443_343 { 
	width:273px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_90.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e443_345 { 
	width:15px;
	height:15px;
	position:absolute;
	left:247px;
	top:7px;
	background-image:url(images/image_91.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e442_210 { 
	width:360px;
	height:640px;
	position:absolute;
	left:0px;
	top:0px;
}
.e442_211 { 
	width:360px;
	height:40px;
	position:absolute;
	left:0px;
	top:600px;
}
.e442_212 { 
	background-image:linear-gradient(0deg, rgba(255, 0, 168.30000668764114, 1) 0%,rgba(142.80000060796738, 0, 255, 1) 25.52083432674408%,rgba(0, 132.599995136261, 255, 1) 59.89583134651184%,rgba(0, 224.39999878406525, 255, 1) 88.54166865348816%,rgba(0, 255, 239.69999939203262, 1) 100%) ;
	width:360px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.e442_213 { 
	width:360px;
	height:77.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e442_214 { 
	width:360px;
	height:77.5px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_60.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e442_215 { 
	width:25px;
	height:25px;
	position:absolute;
	left:20px;
	top:15px;
}
.e442_216 { 
	width:25px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_68.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.link-div a {
	display: block;
	width: 100%;
	height: 100%;
}