.e36_5791 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:640px;
	position:absolute;
}
.e450_1192 { 
	width:274.5px;
	height:279px;
	position:absolute;
	left:40px;
	top:246px;
	background-image:url(images/image_198.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e450_1190 { 
	width:20px;
	height:20px;
	position:absolute;
	left:80px;
	top:510px;
	background-image:url(images/image_197.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e450_1188 { 
	width:100px;
	height:100px;
	position:absolute;
	left:130px;
	top:326px;
	background-image:url(images/image_196.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e423_3510 { 
	width:360px;
	height:640px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_43.png);
	background-repeat:no-repeat;
	background-size:cover;
}
a {
	display: block;
	width: 100%;
	height: 100%;
}