.e3_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:640px;
	position:absolute;
}
.e450_1184 { 
	width:360px;
	height:587px;
	position:absolute;
	left:0px;
	top:53px;
	background-image:url(images/image_194.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e450_1182 { 
	width:20px;
	height:20px;
	position:absolute;
	left:260px;
	top:510px;
	background-image:url(images/image_193.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e423_3506 { 
	width:360px;
	height:640px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_39.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.link-div a {
	display: block;
	width: 100%;
	height: 100%;
}