.e46_2025 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:883px;
	position:absolute;
}
.e446_605 { 
	width:200px;
	height:40px;
	position:absolute;
	left:80px;
	top:595px;
}
.e450_1220 { 
	width:200px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_211.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e450_1218 { 
	width:20.5px;
	height:20.5px;
	position:absolute;
	left:9px;
	top:9px;
	background-image:url(images/image_210.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_615 { 
	width:310px;
	height:490px;
	position:absolute;
	left:25px;
	top:75px;
}
.e446_616 { 
	width:150px;
	height:230px;
	position:absolute;
	left:160px;
	top:260px;
	background-image:url(images/image_143.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_617 { 
	width:150px;
	height:230px;
	position:absolute;
	left:0px;
	top:260px;
	background-image:url(images/image_142.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_618 { 
	width:150px;
	height:230px;
	position:absolute;
	left:160px;
	top:0px;
	background-image:url(images/image_141.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_619 { 
	width:150px;
	height:230px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_140.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_620 { 
	width:360px;
	height:198px;
	position:absolute;
	left:0px;
	top:685px;
}
.e446_621 { 
	width:360px;
	height:198px;
	position:absolute;
	left:0px;
	top:0px;
}
.e446_622 { 
	width:360px;
	height:198px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_110.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_623 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:20px;
	position:absolute;
	left:37px;
	top:16px;
	font-family:Inter;
	text-align:right;
	font-size:7px;
	letter-spacing:0;
}
.e446_624 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:20px;
	position:absolute;
	left:37px;
	top:36px;
	font-family:Inter;
	text-align:right;
	font-size:7px;
	letter-spacing:0;
}
.e446_625 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:20px;
	position:absolute;
	left:37px;
	top:56px;
	font-family:Inter;
	text-align:right;
	font-size:7px;
	letter-spacing:0;
}
.e446_626 { 
	color:rgba(0, 0, 0, 1);
	width:109px;
	height:15px;
	position:absolute;
	left:168px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:7px;
	letter-spacing:0;
}
.e446_627 { 
	color:rgba(0, 0, 0, 1);
	width:109px;
	height:15px;
	position:absolute;
	left:168px;
	top:31px;
	font-family:Inter;
	text-align:left;
	font-size:7px;
	letter-spacing:0;
}
.e446_628 { 
	color:rgba(0, 0, 0, 1);
	width:109px;
	height:15px;
	position:absolute;
	left:168px;
	top:46px;
	font-family:Inter;
	text-align:left;
	font-size:7px;
	letter-spacing:0;
}
.e446_629 { 
	color:rgba(0, 0, 0, 1);
	width:109px;
	height:15px;
	position:absolute;
	left:168px;
	top:61px;
	font-family:Inter;
	text-align:left;
	font-size:7px;
	letter-spacing:0;
}
.e446_630 { 
	width:360px;
	height:77.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e446_631 { 
	width:360px;
	height:77.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e446_632 { 
	width:360px;
	height:77.5px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_130.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_633 { 
	width:25px;
	height:25px;
	position:absolute;
	left:20px;
	top:15px;
	background-image:url(images/image_68.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_634 { 
	width:21.55172348022461px;
	height:25px;
	position:absolute;
	left:315px;
	top:15px;
	background-image:url(images/image_131.png);
	background-repeat:no-repeat;
	background-size:cover;
}
a {
	display: block;
	width: 100%;
	height: 100%;
}