.e47_2877 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:640px;
	position:absolute;
}
.e60_15 { 
	width:300px;
	height:400px;
	position:absolute;
	left:30px;
	top:85px;
}
.e450_1242 { 
	width:300px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_218.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_1122 { 
	width:15px;
	height:15px;
	position:absolute;
	left:290px;
	top:162px;
	background-image:url(images/image_168.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_1142 { 
	width:15px;
	height:15.5px;
	position:absolute;
	left:290px;
	top:212px;
	background-image:url(images/image_178.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_1124 { 
	width:15px;
	height:15px;
	position:absolute;
	left:290px;
	top:323px;
	background-image:url(images/image_169.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_1126 { 
	width:15px;
	height:15px;
	position:absolute;
	left:290px;
	top:373px;
	background-image:url(images/image_170.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e450_1262 { 
	width:76px;
	height:33px;
	position:absolute;
	left:73px;
	top:243px;
}
.e450_1254 { 
	width:67.5px;
	height:10px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_224.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e450_1256 { 
	width:76px;
	height:10px;
	position:absolute;
	left:0px;
	top:23px;
	background-image:url(images/image_225.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_959 { 
	width:360px;
	height:640px;
	position:absolute;
	left:0px;
	top:0px;
}
.e448_960 { 
	width:360px;
	height:40px;
	position:absolute;
	left:0px;
	top:600px;
}
.e448_961 { 
	background-image:linear-gradient(0deg, rgba(255, 0, 168.30000668764114, 1) 0%,rgba(142.80000060796738, 0, 255, 1) 25.52083432674408%,rgba(0, 132.599995136261, 255, 1) 59.89583134651184%,rgba(0, 224.39999878406525, 255, 1) 88.54166865348816%,rgba(0, 255, 239.69999939203262, 1) 100%) ;
	width:360px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.e448_962 { 
	width:360px;
	height:77.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e448_963 { 
	width:360px;
	height:77.5px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_130.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_964 { 
	width:25px;
	height:25px;
	position:absolute;
	left:20px;
	top:15px;
	background-image:url(images/image_68.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_965 { 
	width:25px;
	height:25px;
	position:absolute;
	left:315px;
	top:15px;
	background-image:url(images/image_131.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.link-div a {
	display: block;
	width: 100%;
	height: 100%;
}