.e47_2823 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:640px;
	position:absolute;
}
.e450_1270 { 
	width:300px;
	height:400px;
	position:absolute;
	left:30px;
	top:86px;
	background-image:url(images/image_218.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_1140 { 
	width:15px;
	height:15.5px;
	position:absolute;
	left:290px;
	top:162px;
	background-image:url(images/image_177.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_1116 { 
	width:15px;
	height:15px;
	position:absolute;
	left:290px;
	top:298px;
	background-image:url(images/image_165.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_1118 { 
	width:15px;
	height:15px;
	position:absolute;
	left:290px;
	top:348px;
	background-image:url(images/image_166.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_1120 { 
	width:15px;
	height:15px;
	position:absolute;
	left:290px;
	top:398px;
	background-image:url(images/image_167.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_952 { 
	width:360px;
	height:640px;
	position:absolute;
	left:0px;
	top:0px;
}
.e448_953 { 
	width:360px;
	height:40px;
	position:absolute;
	left:0px;
	top:600px;
}
.e448_954 { 
	background-image:linear-gradient(0deg, rgba(255, 0, 168.30000668764114, 1) 0%,rgba(142.80000060796738, 0, 255, 1) 25.52083432674408%,rgba(0, 132.599995136261, 255, 1) 59.89583134651184%,rgba(0, 224.39999878406525, 255, 1) 88.54166865348816%,rgba(0, 255, 239.69999939203262, 1) 100%) ;
	width:360px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.e448_955 { 
	width:360px;
	height:77.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e448_956 { 
	width:360px;
	height:77.5px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_130.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_957 { 
	width:25px;
	height:25px;
	position:absolute;
	left:20px;
	top:15px;
	background-image:url(images/image_68.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_958 { 
	width:25px;
	height:25px;
	position:absolute;
	left:315px;
	top:15px;
	background-image:url(images/image_131.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e450_1265 { 
	width:55px;
	height:55px;
	position:absolute;
	left:73px;
	top:195px;
}
.e450_1266 { 
	width:55px;
	height:8px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_223.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e450_1267 { 
	width:40px;
	height:8px;
	position:absolute;
	left:0px;
	top:23px;
	background-image:url(images/image_222.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e450_1268 { 
	width:31.5px;
	height:10px;
	position:absolute;
	left:2px;
	top:45px;
	background-image:url(images/image_221.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.link-div a {
	display: block;
	width: 100%;
	height: 100%;
}