.e46_953 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:1596px;
	position:absolute;
}
.e46_961 { 
	width:310px;
	height:180px;
	position:absolute;
	left:25px;
	top:75px;
}
.e446_428 { 
	width:310px;
	height:180px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_112.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_426 { 
	width:30px;
	height:30px;
	position:absolute;
	left:280px;
	top:0px;
	background-image:url(images/image_111.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e423_12 { 
	width:200px;
	height:40px;
	position:absolute;
	left:80px;
	top:1308px;
}
.e46_955 { 
	width:200px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.e446_432 { 
	width:200px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_114.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_430 { 
	width:20.5px;
	height:20.5px;
	position:absolute;
	left:167px;
	top:10px;
	background-image:url(images/image_113.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_481 { 
	width:310px;
	height:1010px;
	position:absolute;
	left:25px;
	top:268px;
}
.e446_480 { 
	width:150px;
	height:230px;
	position:absolute;
	left:0px;
	top:780px;
	background-image:url(images/image_129.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_478 { 
	width:150px;
	height:230px;
	position:absolute;
	left:160px;
	top:780px;
	background-image:url(images/image_128.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_474 { 
	width:150px;
	height:230px;
	position:absolute;
	left:160px;
	top:520px;
	background-image:url(images/image_126.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_476 { 
	width:150px;
	height:230px;
	position:absolute;
	left:0px;
	top:520px;
	background-image:url(images/image_127.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_472 { 
	width:150px;
	height:230px;
	position:absolute;
	left:160px;
	top:260px;
	background-image:url(images/image_125.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_470 { 
	width:150px;
	height:230px;
	position:absolute;
	left:0px;
	top:260px;
	background-image:url(images/image_124.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_468 { 
	width:150px;
	height:230px;
	position:absolute;
	left:160px;
	top:0px;
	background-image:url(images/image_123.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_464 { 
	width:150px;
	height:230px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_122.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_415 { 
	width:360px;
	height:198px;
	position:absolute;
	left:0px;
	top:1398px;
}
.e446_416 { 
	width:360px;
	height:198px;
	position:absolute;
	left:0px;
	top:0px;
}
.e446_417 { 
	width:360px;
	height:198px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_110.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_418 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:20px;
	position:absolute;
	left:37px;
	top:16px;
	font-family:Inter;
	text-align:right;
	font-size:7px;
	letter-spacing:0;
}
.e446_419 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:20px;
	position:absolute;
	left:37px;
	top:36px;
	font-family:Inter;
	text-align:right;
	font-size:7px;
	letter-spacing:0;
}
.e446_420 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:20px;
	position:absolute;
	left:37px;
	top:56px;
	font-family:Inter;
	text-align:right;
	font-size:7px;
	letter-spacing:0;
}
.e446_421 { 
	color:rgba(0, 0, 0, 1);
	width:109px;
	height:15px;
	position:absolute;
	left:168px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:7px;
	letter-spacing:0;
}
.e446_422 { 
	color:rgba(0, 0, 0, 1);
	width:109px;
	height:15px;
	position:absolute;
	left:168px;
	top:31px;
	font-family:Inter;
	text-align:left;
	font-size:7px;
	letter-spacing:0;
}
.e446_423 { 
	color:rgba(0, 0, 0, 1);
	width:109px;
	height:15px;
	position:absolute;
	left:168px;
	top:46px;
	font-family:Inter;
	text-align:left;
	font-size:7px;
	letter-spacing:0;
}
.e446_424 { 
	color:rgba(0, 0, 0, 1);
	width:109px;
	height:15px;
	position:absolute;
	left:168px;
	top:61px;
	font-family:Inter;
	text-align:left;
	font-size:7px;
	letter-spacing:0;
}
.e443_393 { 
	width:360px;
	height:77.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e443_396 { 
	width:360px;
	height:77.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e446_496 { 
	width:360px;
	height:77.5px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_130.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e443_399 { 
	width:25px;
	height:25px;
	position:absolute;
	left:20px;
	top:15px;
	background-image:url(images/image_68.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e446_498 { 
	width:21.55172348022461px;
	height:25px;
	position:absolute;
	left:315px;
	top:15px;
	background-image:url(images/image_131.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.link-div a {
	display: block;
	width: 100%;
	height: 100%;
}