.e416_177 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:640px;
	position:absolute;
}
.e416_242 { 
	width:24px;
	height:24px;
	position:absolute;
	left:168px;
	top:465px;
}
.e416_243 { 
	width:16px;
	height:16px;
	position:absolute;
	left:4px;
	top:4.800000190734863px;
}
.e416_244 { 
	background-color:rgba(0, 0, 0, 1);
	width:13.100000381469727px;
	height:13.9833345413208px;
	position:absolute;
	left:1.0333331823349px;
	top:0.6833332777023315px;
}
.e416_245 { 
	border-radius:500px;
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e448_1166 { 
	width:300px;
	height:424px;
	position:absolute;
	left:30px;
	top:80px;
	background-image:url(images/image_185.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e423_3255 { 
	width:200px;
	height:40px;
	position:absolute;
	left:80px;
	top:519px;
}
.e448_1174 { 
	width:200px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_189.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_1176 { 
	width:20.5px;
	height:20.5px;
	position:absolute;
	left:9px;
	top:9px;
	background-image:url(images/image_190.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_1022 { 
	width:360px;
	height:640px;
	position:absolute;
	left:0px;
	top:0px;
}
.e448_1023 { 
	width:360px;
	height:40px;
	position:absolute;
	left:0px;
	top:600px;
}
.e448_1024 { 
	background-image:linear-gradient(0deg, rgba(255, 0, 168.30000668764114, 1) 0%,rgba(142.80000060796738, 0, 255, 1) 25.52083432674408%,rgba(0, 132.599995136261, 255, 1) 59.89583134651184%,rgba(0, 224.39999878406525, 255, 1) 88.54166865348816%,rgba(0, 255, 239.69999939203262, 1) 100%) ;
	width:360px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}
.e448_1025 { 
	width:360px;
	height:77.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e448_1026 { 
	width:360px;
	height:77.5px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_130.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_1027 { 
	width:25px;
	height:25px;
	position:absolute;
	left:20px;
	top:15px;
	background-image:url(images/image_68.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e448_1028 { 
	width:25px;
	height:25px;
	position:absolute;
	left:315px;
	top:15px;
	background-image:url(images/image_131.png);
	background-repeat:no-repeat;
	background-size:cover;
}
a {
	display: block;
	width: 100%;
	height: 100%;
}